.contenedor-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.elemento-grid {
  /* border: solid black 1px; */
  /* height: 150px; */
}

.elemento-grid:hover {
  transform: scale(1.1);
  border: solid black 5px;
}

.horizontales {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}
.verticales {
  border-left: solid black 2px;
  border-right: solid black 2px;
}

.contenedor-principal {
  display: flex;
}

.casilla-morada {
  background-color: blueviolet;
  color: white;
  text-align: center;
  font-size: 30px;
}